.heartAnimation__wrapper{
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 288px;
    margin: 0;
}

.wrapper{
    display: flex;
    margin:0;
    align-items: center;
    align-content: center;
    height: 100%;
}
  
@keyframes heart-draw {
from { 
    transform: translateX(0); 
}
to { 
    transform: translateX(-99.5024875622%); 
}
}

.heartAnimation {
    width: 21000%;
    height: 100%;
    background-image: url('/frames.svg');
    background-size: 100%, 100%;
    background-repeat:no-repeat;

    animation-name: heart-draw;
    animation-duration: 10s;
    animation-timing-function: steps(200);
    animation-iteration-count: infinite;

    position: absolute;
    left: 0;
    top: 0;
}